<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zq.zqtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService" />

    <!-- 可选权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 自定义权限 -->
    <permission
        android:name="getui.permission.GetuiService"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zq.zqtest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="appid"
            android:value="Z3ICRicOFS7BI0VeBLD1T8" />
        <meta-data
            android:name="appsecret"
            android:value=" VXqNnMKOMx9OHkvFHcZ5B7" />
        <meta-data
            android:name="appkey"
            android:value="5HymDlzP5L7aCku1vBKhD2" />
        <meta-data
            android:name="groupid"
            android:value="" />
		 <receiver
            android:name="com.zq.zqtest.touchuan"
             >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.Z3ICRicOFS7BI0VeBLD1T8" />
                <!-- com.igexin.sdk.action.第三方的appId -->
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.SdkActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.GexinSdkActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.igexin.action.popupact.com.zq.polysaas" />
<!-- 					com.igexin.action.popupact.第三方的包名 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.sdk.SdkMainService"
            android:exported="false"
            android:label="NotifyCenter"
            android:process=":pushservice" >
        </service>
        <service
            android:name="com.igexin.sdk.coordinator.SdkMsgService"
            android:exported="true"
            android:label="NotifyCenterAIDL"
            android:process=":pushservice" >
        </service>

        <!-- 个推download模块配置 -->
        <service
            android:name="sdk.download.DownloadService"
            android:process=":pushservice" />

        <receiver
            android:name="sdk.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="sdk.download.DownloadProvider"
            android:authorities="sdk.download.com.zq.polysaas"
            android:process=":pushservice" />
        <!-- android:authorities="sdk.download.第三方包名" -->


        <!-- GetuiExt模块配置 -->
        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:exported="false"
            android:process=":pushservice" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.Z3ICRicOFS7BI0VeBLD1T8" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.download.DownloadService"
            android:exported="false"
            android:process=":pushservice" />

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="increment.download.com.zq.polysaas"
            android:exported="false"
            android:process=":pushservice" />

        <receiver
            android:name="com.igexin.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.igexin.sdk.SdkReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.igexin.sdk.coordinator.NotificationCenterAIDLReceiver" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <!-- =========================================================================== -->

    </application>

</manifest>